.calendar-container {
  position: relative;
  display: block;
  margin: 0 3vw 0 3vw;
}
.ant-picker-date-panel .ant-picker-calendar-date-content {
  font-size: 0.5rem;
}
.ant-picker-date-panel .ant-picker-calendar-date-content .Expenditure {
  color: red;
}
.ant-picker-date-panel .ant-picker-calendar-date-content .Income {
  color: #1677ff;
}
.ant-picker-month-panel .ant-picker-calendar-date-content .Expenditure {
  color: rgba(255, 37, 37, 0.65);
}
.ant-picker-month-panel .ant-picker-calendar-date-content .Income {
  color: rgba(0, 89, 255, 0.45);
}
:where(
    .css-dev-only-do-not-override-12jzuas
  ).ant-picker-calendar.ant-picker-calendar-full
  .ant-picker-calendar-date-content {
  height: 6.2vh;
}
